<h1>Blog Posts</h1>
<ul class="articles"
  <% @articles.each do |article| %>
  <li ="article-box">
    <%= link_to article.title, article_path(article), class: 'article-title' %>
    <%= article.body %>
  </li>
  <% end %>
</ul>
