<body class="about"> </body>
<div class="container">
  <div class="about-me">
    <p>Hello! I'm Sarah.</p>
    <p>Software Developer. Artist. Outdoor Enthusiast. Geology Nerd</p>
    <p>I'm passionate about sustainability, data analysis, all things creative, and software development.
      I have a face made for sunglasses, uncanny skills at Bop-It, and brunch is my favorite meal.</p>
      <p>I'm looking for an awesome company to launch my new career with;
        someplace that encourages learning, and personal development.
        I want to work with a diverse bunch of talented, driven people.
        I am excited to put my best foot forward, get out of my comfort zone, and grow as a developer.
      </p>
      <p>Contact me if you'd like to chat!</p>
  </div>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons -->
    <a href="https://twitter.com/sarahdactyl71" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/sarahelizabethkirk/" class="fa fa-linkedin"></a>
    <a href="https://github.com/sarahdactyl71" class="fa fa-github"></a>
    <a href="https://www.instagram.com/sarahdactyl71/?hl=en" class="fa fa-instagram"></a>
</div>
