<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="https://twitter.com/sarahdactyl71" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/sarahelizabethkirk/" class="fa fa-linkedin"></a>
<a href="https://github.com/sarahdactyl71" class="fa fa-github"></a>
<a href="https://www.instagram.com/sarahdactyl71/?hl=en" class="fa fa-instagram"></a>
