<body class="about"> </body>
<div class="container">
  <div class="about-me">
    <p>Hello! I'm Sarah.</p>
    <p>Software Developer. Artist. Outdoor Enthusiast. Geology Nerd.</p>
    <p>I'm passionate about data science, sustainability, all things creative, and web development.
      I have a face for sunglasses, uncanny skills at Bop-It, and Hufflepuff is my Hogwarts House. I'm also a mean cook.</p>
    <p>
      I like learning new things. Ruby is my first language, but these days I spend my time in PHP and Python.
    </p>
    <p>I also like meeting new people! Contact me if you'd like to chat or meetup for coffee.</p>
  </div>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons -->
    <a href="https://twitter.com/sarahdactyl71" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/sarahelizabethkirk/" class="fa fa-linkedin"></a>
    <a href="https://github.com/sarahdactyl71" class="fa fa-github"></a>
    <a href="https://www.instagram.com/sarahdactyl71/?hl=en" class="fa fa-instagram"></a>
</div>
