// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-title {
  color: #3a3a3a;
  font-weight: bold;
}

.articles {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  padding: 5%;
  justify-content: space-between;
  .article-box {
    max-width: 100%;
    min-width: 50%;
    justify-content: center;
  }
}
