// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-title {
  color: #3a3a3a;
  font-weight: bold;
}

.article-container {
  display: flex;
  padding: 5%;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.article-box {
	flex: 1 30%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
