<!DOCTYPE html>
<html>
  <head>
    <title>Sarahdactyl71GithubIo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <ul>
      <li><a href="default.asp">ABOUT</a></li>
      <li><a href="news.asp">RESUME</a></li>
      <li><a href="contact.asp">WORK</a></li>
      <li><a href="about.asp">BLOG</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
