<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Exo+2|Maven+Pro|Quicksand|Saira+Semi+Condensed" rel="stylesheet">
    <title>Sarah Kirk</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <ul>
      <li><a href="/">ABOUT</a></li>
      <li><a href="/resume">RESUME</a></li>
      <!-- <li><a href="contact.asp">WORK</a></li> -->
      <!-- <li><a href="about.asp">WRITING</a></li> -->
    </ul>
    <%= yield %>
  </body>
</html>
